@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

$primary: #1484d6;
$secondary: #eeeeee;
$info: #cccccc;
$light: #f0f0f0;
$dark: #6b6b6b;
$warning: #353535;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "light": $light,
  "dark": $dark,
  "warning": $warning,
);

$container-max-widths: (
  sm: 97%,
  md: 95%,
  lg: 850px,
  xl: 900px,
);

$link-color: black;



// ---------- Create Post ---------- \\
.create-post-dropdown {
  max-width: 150px;
  min-width: 150px;
  height: 32px !important;
}

.create-post-body {
  border-color: $secondary !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom: none !important;
}

.create-post-footer {
  background-color: $secondary;
  border-bottom-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;

  button {
    font-size: 14px !important;
    font-weight: 600 !important;
    padding: 4px 14px !important;
    width: 144px;
  }
}

// ---------- Font Size ---------- \\
.text-head {
  font-size: 18px;
  font-weight: 500;
}

.text-body {
  font-size: 15px;
}

* {
  font-family: "Rubik", sans-serif;
}

// ---------- Subject Pill ---------- \\
.text-pill {
  font-size: 14px;
  width: fit-content !important;
  padding: 0 6px !important;
}
.Sports {
  background-color: #e72b2b !important;
}
.Technology {
  background-color: #1f1fbd !important;
}
.WorldNews {
  background-color: #44c233 !important;
}
.VideoGames {
  background-color: #b53bce !important;
}
.General {
  background-color: #1484d6 !important;
}
.pointer:hover {
  cursor: pointer;
}
.tab-border {
  border-radius: 0px !important;
}

// ---------- Navbar ---------- \\
.nav-subject-drop a {
  color: black !important;
}

.nav-subject-drop:hover {
  border: 1px solid $info;
  border-radius: 6px;
  margin: -1px -1px;
}

// ---------- Post ---------- \\
.post-header-text {
  color: $dark;
  font-size: 14px;
}

.post-footer {

  .btn-comments {
    font-size: 13px;
    font-weight: 600;
    line-height: 38px;
  }
  .drop-options {
    font-size: 13px;
    font-weight: 600;
    height: 38px;
    padding-top: 4px;
  }

  p:hover, .dropdown-toggle:hover {
    background-color: $secondary;
  }

  .btn {
    &:focus,
    &.focus {
      outline: 0;
      box-shadow: none !important;
    }
  }
}

.arrow-up {
  color: #b3b3b3;
}

.arrow-up:hover {
  color: #1484d6;
  cursor: pointer;
}

.arrow-down {
  color: #b3b3b3;
}

.arrow-down:hover {
  color: #df8611;
  cursor: pointer;
}

.arrow-up-active {
  color: #1484d6;
  cursor: pointer;
}
.arrow-down-active {
  color: #df8611;
  cursor: pointer;
}
.arrow-up-active:hover {
  color: rgba(20, 133, 214, 0.8);
  cursor: pointer;
}
.arrow-down-active:hover {
  color: rgba(223, 134, 17, 0.8);
  cursor: pointer;
}

// ---------- Thread ---------- \\
.delete-comment {
  font-size: 14px;
  color: #ce0b0b !important;
  cursor: pointer;
}

.back-arrow {
  color: #919191;
  cursor: pointer;
  transform: rotate(180deg) !important;
}
.back-arrow:hover {
  color: black;
}

.delete-comment:hover {
  text-decoration: underline;
}

// ---------- Comment ---------- \\
.comment-form {
  border-color: $secondary !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom: none !important;
}

.comment-head {
  background-color: $secondary;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.comment-body {
  border: 1px solid $secondary;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.comment-btn-wrapper {
  height: 38px;
  width: 100%;
  background-color: $secondary;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  button {
    font-size: 13px;
    font-weight: 600;
    padding: 4px 16px;
  }
}



// ---------- Dark Theme ---------- \\
.theme-dark {
  background: #030303 !important;

  p {
    color: white !important;
  }

  h5 {
    color: #d7dadc !important;
  }

  span {
    color: #d7dadc;
  }
}

.theme-dark-grey {
  background: #1a1a1b !important;

  textarea,
  input,
  select,
  .dropdown-item,
  .dropdown-menu,
  label {
    color: white !important;
    background: #1a1a1b !important;
  }

  p,
  a,
  .nav-highlight a {
    color: white !important;
  }

  h5,
  h2 {
    color: #c7c8c9 !important;
  }

  span {
    color: #bbbcbd;
  }

  .border {
    border-color: #353535 !important;
  }

  // comments
  .comment-form {
    border-color: $warning !important;
  }
  .comment-head {
    background-color: $warning;
  }
  .comment-body {
    border-color: $warning;
  }

  //dropdowns
  .dropdown-menu {
    border: 1px solid $warning;
    .dropdown-item:hover {
      background-color: $warning !important;
    }
  }

  //create post
  .create-post-body {
    border-color: $warning !important;
  }
  .create-post-footer {
    background-color: $warning;
    label {
      background-color: $warning !important;
    }
  }

  //create comment
  .comment-btn-wrapper {
    background-color: $warning;
  }

  //nav
  .nav-item, .dropdown-toggle {
    color: white !important;
  }
  .nav-subject-drop {
    .dropdown-item:hover{
      background-color: $warning !important;
    }
    .dropdown-menu {
      border-color: $warning;
    }
  }

  //post
  .post-header-text {
    color: #bbbcbd !important;
  }
  .back-arrow:hover {
    color: rgb(255, 255, 255);
  }
  .post-footer {
    p:hover, .dropdown-toggle:hover {
      background-color: $warning !important;
    }
    .dropdown-item:hover, .dropdown-item:focus {
      background-color: $warning !important;
    }
    .dropdown-menu {
      border-color: $warning;
    }
  }
}





.border-highlight:hover {
  border: 1px solid #222 !important;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.border-highlight-dark:hover {
  border: 1px solid rgb(226, 226, 226) !important;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.form-highlight:hover {
  border: 1px solid #1484d6 !important;
  background-color: white !important;
}








@import "~bootstrap/scss/bootstrap.scss";



// ---------- ---------- \\